<li><a href="javascript:void(0);" data-toggle="collapse" data-target=".navbar-collapse" ng-click="vm.goTo('/fizz')"><i class="fa fa-compass"></i> Fizz</a></li>
<li><a href="javascript:void(0);" data-toggle="collapse" data-target=".navbar-collapse" ng-click="vm.goTo('/buzz')"><i class="fa fa-edit"></i> Buzz</a></li>
